.triangle {
  border-top: 25px solid red;
  border-bottom: 25px solid green;
  border-right: 25px solid blue;
  border-left: 25px solid yellow;
  width: 0;
  height: 0;
}
.triangle1 {
  border-top: 25px solid red;
  border-bottom: 25px solid rgba(0,0,0,0);
  border-right: 25px solid transparent;
  border-left: 25px solid hsla(0,0%,0%,0);
  width: 0;
  height: 0;
}
.triangle2 {
  border-top: 25px solid rgba(0,0,0,0);
  border-bottom: 25px solid rgba(0,0,0,0);
  border-right: 25px solid blue;
  border-left: 25px solid rgba(0,0,0,0);
  width: 0;
  height: 0;
}
.triangle3 {
  border-top: 25px solid hsla(0,0%,0%,0);
  border-bottom: 25px solid hsla(0,0%,0%,0);
  border-right: 25px solid hsla(0,0%,0%,0);
  border-left: 25px solid yellow;
  width: 0;
  height: 0;
}
.triangle4 {
  border-top: 25px solid transparent;
  border-bottom: 25px solid blue;
  border-right: 25px solid blue;
  border-left: 25px solid transparent;
  width: 0;
  height: 0;
}
.circle {
	width: 50px;
	height: 50px;
  background: red;
	border-radius: 50px;
}
.oval1 {
  border: solid red 4px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 25px;
  width: 0;
  height: 0;
}
.oval2 {
  border: solid red 4px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 25px;
  width: 0;
  height: 0;
}
.moon {
  width: 50px;
	height: 50px;
	border-left: solid red 4px;
	border-bottom: solid red 4px;
	border-radius: 50px;
}
