.row >div {
    float: left;
}
.row {
    clear:left;
    width: 30px;
}
.one {
    float:left;
}
.two {
    float:right;
    margin-left: 8px;
}
.three {
    float:left;
    margin-left: -17px;
}
.one1 {
    float:right;
    margin-left: 8px;
}
.two1 {
    float:left;
    margin-left: -16px;
}
.three1 {
    float:right;
}
.one2 {
    float:right;
    margin-left: 17px;
}
.two2 {
    float:left;
    margin-top: -18px;
}
.three2 {
    float:left;
    margin-top: -18px;
    margin-left: 9px
}
.one3 {
    float:left;
    margin-left:9px;
}
.two3 {
    float:right;
}
.three3 {
    float:left;
    margin-top: -18px;
}
.one4 {
    float:right;
    margin-left: 18px;
}
.two4 {
    float:left;
    margin-top: -18px;
    margin-left: 9px;
}
.three4 {
    float:left;
    margin-top: -18px;
    
}