.one {
   
    background-color: #E6E6E6;
 }
div {
    background-color: #E6E6E6;
}
.two {
    color: green;
}
.three {
    color: red;
}
.four {
    color: blue;
}

.five {
    color: Gray;
}
.div1 {
     overflow: auto;
    white-space: nowrap;
     background-color: #E6E6E6;
     width: 60%;
    height: 20%;
}
