div {
    background-color: lightgrey;
}
span {
    background-color: lightgray;
}
.two {
    
    width: 10%;
    height: 10%;
    background-color: silver;
    margin-top: -35px;
    margin-left: 120px;
   
}
.info {
     width: 60%;
    height: 60%;
    overflow: auto;
    background-color: silver;
    white-space: nowrap;
}
.three {
     width: 3%;
    height: 3%;
}
