.header {
    display:block;
    width: 1500.43px;
    height: -127.56px;
}
.one {
    width: 100px;
    height: 91.39px;
    background-color: grey;
    border: solid grey 1px;
    margin-left: 60px; -93px;
}
.two {
    width: 236px;
    height: 91.39px;
    background-color: grey;
    border: solid grey 1px;
    margin-left: 184px;
    margin-top: -91.39px;
}
.three {
    width: 439.37px;
    height: 91.39px;
    background-color: grey;
    border: solid grey 1px;
    margin-left: 439.37px;
    margin-top: -92.39px;
}
.aside {
    display:block;
    width: 220px;
    height: 694.49px;
    float: left;
}
.four {
    width: 155.91px;
    height: 284px;
    background-color: grey;
    border: solid grey 1px;
    margin-left: 56.89px;
    margin-top: 14.39px;
}
.seven {
    width: 155.91px;
    height: 113.39px;
    background-color: grey;
    border: solid grey 1px;
    margin-left: 56.89px;
    margin-top: 255.12px;
}
.main {
    display:block;
    width: 650.66px;
    height: 708.97px;
    margin-top: -700.66px;
    margin-left: 226.77px;
    float: left;
}

.five {
    
    width: 644.74px;
    height: 176.98px;
    background-color: silver;
    border: solid silver 1px;
    margin-top: 29.17px;
}
.ul {
    list-style-type: none;
    padding-left: 0px;
}
.one1 {
    display: inline-block;
    width: 113px;
    height: 129px;
    background-color: silver;
    border: solid silver 1px;
    margin: 0px 11.5px 15px 0px;
}    
