.table {
    border-collapse: collapse;
}
.td {
    background: black;
    width: 45px;
    height: 45px;
    text-align: center;
}
.black {
    background-color: gray;
    width: 45px;
    height: 45px;
}
.rook {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png');
    background-repeat:no-repeat;
    background-position: -100px 0px;
    width: 50px; height: 50px;
}
.horse {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png');
    background-repeat:no-repeat;
    background-position: -205px 0px;
    width: 50px; height: 50px;
}
.elephant {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png');
    background-repeat:no-repeat;
    background-position: -155px 0px;
    width: 50px; height: 50px;
}
.queen {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png');
    background-repeat:no-repeat;
    background-position: -50px 0px;
    width: 50px; height: 50px;
}
.king {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png');
    background-repeat:no-repeat;
    background-position: 0px 0px;
    width: 50px; height: 50px;
}
.pawn {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png');
    background-repeat:no-repeat;
    background-position: -260px 0px;
    width: 50px; height: 50px;
}
.pawn1 {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png');
    background-repeat:no-repeat;
    background-position: -260px -50px;
    width: 50px; height: 50px;
}
.rook1 {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png');
    background-repeat:no-repeat;
    background-position: -100px -50px;
    width: 50px; height: 50px;
}
.horse1 {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png');
    background-repeat:no-repeat;
    background-position: -205px -50px;
    width: 50px; height: 50px;
}
.elephant1 {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png');
    background-repeat:no-repeat;
    background-position: -155px -50px;
    width: 50px; height: 50px;
}
.queen1 {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png');
    background-repeat:no-repeat;
    background-position: -50px -50px;
    width: 50px; height: 50px;
}
.king1 {
    background-image: url('https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png');
    background-repeat:no-repeat;
    background-position: 0px -50px;
    width: 50px; height: 50px;
}