body {
    min-width: 100vw;
    min-height: 100vh;
}

nav {
    width: 100vw;
    height: 100vh;
    background-color: #FAE2A8;
    margin: 0%;
    padding: 0%;
}

input[type=checkbox] {
    display: none;
}

#menu1,
#menu2,
#menu3 {
    display: none;
}

#menu1:checked~ul:nth-of-type(1),
#menu2:checked~ul:nth-of-type(2),
#menu3:checked~ul:nth-of-type(3) {
    display: block;
    position: absolute;
}

#menu1:checked~ul:nth-of-type(1)>li,
#menu2:checked~ul:nth-of-type(2)>li,
#menu3:checked~ul:nth-of-type(3)>li {
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: 16px;
    font-weight: bolder;

}

label {
    display: inline-block;
    width: 30vw;
    height: 10vh;
    top: 4%;
    left: 4%;
    border-radius: 30%;
    box-shadow: inset 2px 2px 2px 2px #F4945D, 0px 0px 0px 4px wheat;
    background-color: antiquewhite;
    position: relative;
    font-size: 5vw;
    font-style: oblique;
    text-decoration: none;
    font-weight: bold;
    color: #0B2161;
    text-align: center;

}

ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin-top: -2%;
}

a {
    text-decoration: none;
    font-size: 3vw;
    font-style: oblique;
    font-weight: bold;
    color: #0B2161;


}

img {
    width: 20vw;
    height: 20vh;
    position: absolute;
    top: 40%;
    left: 20%;
    border-radius: 10px;
    border: solid 5px #0B2161;

}

li {

    display: inline-block;
    width: 25vw;
    height: 35vh;
}

#break>li:before,
#lanch>li:before,
#dinner>li:before {
    content: " ";
    position: relative;
    color: #0B2161;
    width: 10vw;
    height: 6vh;
    font-weight: bold;
    font-size: 4vw;
    display: block;
    border-radius: 40%;
    font-style: oblique;
    border: solid 3px #0B2161;
    text-align: center;
    top: 102%;
    left: 20%;
    opacity: 0;
    transition: all .5s ease;
    font-size: 3vw;
}

#break>li:nth-of-type(1)::before {
    content: "2p";
}

#break>li:nth-of-type(2)::before {
    content: "2.50p";
}

#break>li:nth-of-type(3)::before {
    content: "3p";
}

#lanch>li:nth-of-type(1)::before {
    content: "2.50p";
}

#lanch>li:nth-of-type(2)::before {
    content: "2p";
}

#lanch>li:nth-of-type(3)::before {
    content: "3p";
}

#dinner>li:nth-of-type(1)::before {
    content: "10p";
}

#dinner>li:nth-of-type(2)::before {
    content: "10p";
}

#dinner>li:nth-of-type(3)::before {
    content: "7p";
}


#break>li:hover:before,
#lanch>li:hover:before,
#dinner>li:hover:before {
    opacity: 1;
}

#menu1:checked~label:nth-of-type(1) {
    background-color: #FEF9B0;
}

#menu2:checked~label:nth-of-type(2) {
    background-color: pink;
}

#menu3:checked~label:nth-of-type(3) {
    background-color: skyblue;
}

#menu1:checked~#break,
#menu2:checked~#lanch,
#menu3:checked~#dinner {
    visibility: hidden;
    opacity: 0;

}

#menu1:checked~#break,
#menu2:checked~#lanch,
#menu3:checked~#dinner {
    visibility: visible;
    opacity: 1;
}


#break {
    position: relative;
    top: 25%;
    left: 4%;
    background-color: #FEF9B0;
    border: solid 2px #FAF137;

    transition: .5s ease-in;
    border-radius: 30px;
    width: 90vw;
    height: 45vh;


}

#lanch {
    position: relative;
    top: 25%;
    left: 4%;
    width: 90vw;
    height: 45vh;
    background-color: lightpink;
    border: solid 2px deeppink;

    transition: .5s ease-in;
    border-radius: 30px;

}

#dinner {
    position: relative;
    top: 25%;
    left: 4%;
    width: 90vw;
    height: 45vh;
    background-color: skyblue;
    border: solid 2px blue;

    transition: .5s ease-in;
    border-radius: 30px;
}

@media screen and (max-width: 320px) {
    label {
        display: block;
        width: 90vw;
        height: 7vh;
        text-align: center;
        padding: 0%;
        margin: 0%;
        font-size: 7vw;
    }
    #break {
        width: 90vw;
        height: 130vh;
        position: relative;
        top: 28%;
    }

    #lanch {
        position: relative;
        width: 90vw;
        height: 130vh;
        top: 28%;
    }

    #dinner {
        width: 90vw;
        height: 130vh;
        position: relative;
        top: 28%;
    }
    li {
        display: block;
        width: 90vw;
        height: 40vh;
    }
    img {
        width: 50vw;
        height: 20vh;
        position: absolute;
        top: 40%;
        left: 20%;
        border-radius: 10px;
        border: solid 5px #0B2161;

    }
    #break>li:before,
    #lanch>li:before,
    #dinner>li:before {
        width: 14vw;
        height: 6vh;
        font-size: 5vw;
        top: 95%;
    }


}

/*#break li {
    display: inline-block;
    position: relative;
    width: 25vw;
    height: 35vh;
 
  
   
}
#break li a:hover {
    border: solid 1px blue;
    background-color: #FAF137;
    border-radius: 10px;
    
}
#break li a {
    position: relative;
    font-size: 110%;
    font-style: oblique;
    text-decoration: none;
    font-weight: bold;
    color: #0B2161;
    left: 25%;
    top: 20%;
}

.break1 {
    position: relative;
    width: 20vw;
    height: 30vh;
    border-radius: 10px;
    border: solid 5px #0B2161;
    top: 4%;
    
}

.tabl {
    position: absolute;
    width: 10vw;
    left: 10%;
  border: solid 2px #FAF137;
  text-align: center;
  background-color: #FEF9B0;
  font-size: 110%;
    font-style: oblique;
    text-decoration: none;
    color: #0B2161;
    border-radius: 10px;
    visibility: hidden;
     opacity: 0;
}

div {
   transition: all 2s ease;
   
}
#break>li:hover .tabl {
     position: absolute;
   width: 10vw;
    height: 5vh;
  border: solid 2px #FAF137;
  text-align: center;
  background-color: #FEF9B0;
  font-size: 110%;
    font-style: oblique;
    text-decoration: none;
    font-weight: bold;
    color: #0B2161;
    border-radius: 10px;
     visibility: visible;
      opacity: 1;
       transform: translateY(5);
      
}

#lanch li {
    position: relative;
    display: inline-block;
     width: 25vw;
    height: 50vh;
    
   
}
#lanch li a:hover {
    border: solid 1px deeppink;
    background-color: pink;
    border-radius: 10px;
}
#lanch li a {
    width: 15vh;
    height: 5vh;
    position: absolute;
   
    text-align: center;
    font-size: 110%;
    font-style: oblique;
    text-decoration: none;
    font-weight: bold;
    color: #0B2161;
    left: 25%;
    top: 90%;

    
}
#lanch a:hover .tabl2 {
     position: relative;
   width: 10vw;
    height: 5vh;
  border: solid 2px ;
  text-align: center;
  background-color: #FEF9B0;
  font-size: 110%;
    font-style: oblique;
    text-decoration: none;
    font-weight: bold;
    color: #0B2161;
    top: -220%;
    border-radius: 10px;
     visibility: visible;
      opacity: 1;
     transform: translateY(5);
}
.tabl2 {
    position: relative;
    width: 20vw;
  border: solid 2px #FAF137;
  text-align: center;
  background-color: #FEF9B0;
  font-size: 110%;
    font-style: oblique;
    text-decoration: none;
    font-weight: bold;
    color: #0B2161;
    border-radius: 10px;
    visibility: hidden;
     opacity: 0;
}



#dinner>li {
    display: inline-block;
    position: relative;
    width: 10vw;
    height: 10vh;
    margin: 9%;
    top: -10%;
}
#dinner li a:hover #tabl {
    left: 0%;
    position: absolute;
    width: 20vw;
  border: solid 2px #FAF137;
  text-align: center;
  background-color: #FEF9B0;
  font-size: 110%;
    font-style: oblique;
    text-decoration: none;
    font-weight: bold;
    color: #0B2161;
    border-radius: 10px;
    visibility: visible;
     opacity: 1;
}*/
